.container {
  height: 20%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.buttonWrapper {
  width: fit-content;
}
.button {
  width: fit-content;
  cursor: pointer;
  margin-right: 15px;
}
