.container {
  width: 90%;
  align-items: stretch;
  background: #f1f1f1;
  border-radius: 13px;
  margin-bottom: 30px;
  display: flex;
}
.leftSide {
  width: 1%;

  background: #4c8499;
  border-radius: 6px;
}
.rightSide {
  width: 99%;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 4%;
  min-width: fit-content;
  background: #4c8499;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  cursor: pointer;
  color: #ffffff;
}
.button:hover {
  color: black;
}
.name {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* or 120% */

  color: #4c8499;
}
.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #000000;
}
.date {
  margin-top: 3%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.dateSpan {
  font-weight: 500;
}
.document {
  margin-top: 3%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 2%;
}
.documentSpan {
  font-weight: 500;
}
