.header {
  width: 100%;
  height: fit-content;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerB {
  width: 100%;
  height: fit-content;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}
.logo {
  display: flex;
  align-items: center;
  width: auto;
}
.logoDescription {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  cursor: default;
  color: #5a5959;
}
.menu {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuContent {
  display: flex;
  width: 35%;
  justify-content: space-evenly;
  min-width: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  color: #5a5959;
}
.menuContentP {
  cursor: pointer;
  padding-right: 15px;
}
.menuContentPB {
  cursor: pointer;
  padding-right: 15px;
}
.menuContentP:not(:last-child) {
  margin-right: 15px;
}
.menuContentP:hover {
  color: white;
}
.menuContentPB:hover {
  color: black;
}
.button {
  background: linear-gradient(
    180deg,
    rgba(205, 205, 205, 0.27) 0%,
    rgba(129, 129, 129, 0.32) 50%,
    rgba(205, 205, 205, 0.23) 100%
  );
  border-radius: 32px;
  cursor: pointer;
  margin-left: 25%;
  width: 10%;
  height: 45%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #5a5959;
}
.button:hover {
  color: black;
}
