.container {
  display: flex;
  justify-content: space-between;
  background-color: wheat;
  border-radius: 15px;
  height: 382px;
  margin-bottom: 5%;
  cursor: pointer;
}
.container:hover {
  .top {
    color: #2d383b;
  }
  .bottom {
    color: #2d383b;
  }
}
.left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
}
.top {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;

  color: white;
}
.bottom {
  margin-top: 5%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;

  color: #ffffff;
}
.right {
  overflow-x: hidden;
  width: fit-content !important;
  border-bottom-right-radius: 15px;
}
