.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 85vh;
}
.leftSide {
  width: 28%;
  height: 95%;
  background-color: grey;
  border-radius: 15px;
}
.rightSide {
  width: 50%;
  height: 95%;
  background-color: grey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.input {
  width: 80%;
  background-color: rgb(255, 254, 254);
}
.buttonWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button {
  width: fit-content;
  cursor: pointer;
}
