.container {
  width: 100%;
  height: fit-content;
}
.headingPlacement {
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gradient {
  position: absolute;
  top: 0px;
  background: linear-gradient(
    180deg,
    #ea7272 0%,
    rgba(189, 189, 189, 0.92) 0.01%,
    rgba(182, 182, 182, 0.41) 46.95%,
    rgba(210, 210, 210, 0.06) 84.23%,
    rgba(255, 255, 255, 0) 138.08%
  );
  width: 100%;
  height: 147px;
}
.coursePlacement {
  margin-top: 1%;
  width: 100%;
  height: fit-content;
}
.questions {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.questionsHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  width: 100%;
  border-bottom: 5px solid #4c8499;
  padding-bottom: 1%;
}
.questionsWrapper {
  width: 90%;
  height: 100%;
}
.teachersWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
