.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 465px;
  background-color: white;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  min-width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  color: #000000;
}
.specialHeading {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #4267db;
  border-radius: 16px;
  color: white;
}
.content {
  width: 90%;
  height: 85%;
  display: flex;
  justify-content: space-between;
}
.description {
  min-width: 548px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */
  display: flex;
  align-items: center;
  text-align: justify;
  width: 90%;
  margin-top: 5%;
  color: #000000;
}
.leftSide {
  width: 50%;
}
.img {
  width: 40%;
}
